*{
    margin: 0;
  
}

body{
    font-family: 'Albert Sans', sans-serif;
    background-color:#2D2727;
    width: 100%;
    height: 100%;
}

.navbar{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 2;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: white;
}

.logo-container{
    flex: 1;
}

.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: rgb(29, 252, 29);
}

.logo-link{
    color: rgb(29, 252, 29);
    text-decoration: none;
}

.crid{
    color: white;
}

.hamburger{
    opacity: 0;
}

.menu-container{
    position: relative;
    right: 0%;
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-item{
    margin-right: 30px;

}

.menu-list-item-link{
    color: white;
    text-decoration: none;
}

.menu-list-item.active{
    font-weight: bold;
}


.search-icon{
    color: white;
font-size: 20px;
position: relative;
top: 0%;
}

.container{
   min-height: 200vh ;
    background-color: #2D2727;
    color: white;

}

.content-container{
    margin-left: 0px;
}

.sidebar{
    display:none;
}

.fetured-movies-container{
    background: linear-gradient(to bottom, green, #2D2727);
    height: 50vh;
   padding: 50px;
}

.featured-img{
    width: 25%;
   margin-top: 25px;
    border-radius: 10%;
}

.featured-name-button{
    color: black;
    text-decoration: none;
    font-size: large;
}

.featured-name-link{
    color: white;
    text-decoration: none;
}

.featured-desc{
    font-size: 0.7rem;
    width: 500px;
    margin: 30px 0;
}

.featured-button{
    background-color: rgb(26, 245, 26);
    width: 100px;
    height: 30px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

.headings{
    margin-bottom: 20px;
    margin-left: 30px;
    text-align: center;

}

.movie-list-container{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    position: relative;
    margin-top: 28%;
height: fit-content;

}

.movie-list-wrapper{
    display: flex;
    position: relative;
    min-height: 100%;
    margin-top: 20px;

}

.wrap{
    display: flex;
}


.movie-list{
    display: flex;
    justify-content: center;
}

.movie-list-item:hover .movie-img{
    transform: scale(1.2);
opacity: 0.5;
}

.movie-list-item{
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.movie-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: 20px;
    transition: all 1s ease-in-out;
border-radius: 10px;
}


.movie-img-title{
position: absolute;
font-size: 20px;
width: 70%;
line-height: 19px;
z-index: 2;
left: 14%;
top: 35%;
font-weight: bold;
opacity: 0;
transition: all 1s ease-in-out;
}

.movie-list-item:hover .movie-img-desc {
    transform: scale(1.2);
}

.movie-list-item:hover .movie-img-title {
    transform: scale(1.2);
}

.movie-list-item:hover .movie-img-title,
.movie-list-item:hover .movie-img-desc,
.movie-list-item:hover .movie-img-button{
    opacity: 1;
}

.movie-img-desc{
    box-shadow: 0 4px 20px 4px black inset;
    font-size: 0.6rem;
    width: 70%;
    position: absolute;
    top: 60%;
    left: 14%;
    transition: all 1s ease-in-out;
    opacity: 0;
}

.movie-img-button-feat{
    border-radius: 10px;
    padding: 10px 30px;
    background-color: rgb(26, 245, 26);
}


.movie-img-button{
    border-radius: 10px;
    padding: 5px 20px;
    background-color: rgb(26, 245, 26);
    position: relative;
    margin-left: 53px;
}

.btn-link{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.recomendations{
    margin-top: 10px;
}

.movie-list-wrapper2{
    margin-top: 20px;
}


/*single movie page*/

.hamburger-single{
    opacity: 0;
}

.container-single{
    background-color:#2D2727;
    color: white;
    width: 100%;

}

.content-container-single{
    position: relative;
}

.img-single{
    width: 25%;
    position: relative;
    left: 5%;
    margin-top: 10%;
}

.img-single-title{
    font-weight: bold;
    font-size: 20px;
}

.desc{
    width: 50%;
    position: relative;
    left: 5%;
}

.name-color{
    color: rgb(26, 245, 26);
}

.download-button{
background-color: rgb(26, 245, 26);
padding: 10px;
border-radius: 20px;
border-style: none;
margin-top: 10px;
}

.seasons{
    display: flex;
    gap: 30px;
}

.seasons-list-item{
    list-style: none;
    font-size: 1rem;
    position: relative;
    top: 12px;
    left: 9px;
    margin-top: 10px;

}

.seasons-list-item-link{
    color: rgb(26, 245, 26);
    text-decoration: none;

}

.download-button-movie-single{
    background-color: rgb(26, 245, 26);
    padding: 20px 40px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 19px;
    font-weight: bolder;
    font-size: 1rem;
}

.download-button-movie-single-link{
    text-decoration: none;
    color: black;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 60px;
    gap: 10px;
    margin-top: 30px;
  }
  .grid-item {
    background-color: rgb(26, 245, 26);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding:0 40px;
    font-size: 30px;
    text-align: center;
    color: black;
    width: 30%;
    font-size: 20px;
  }

  .navbar-container-single{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: white
  }

.menu-list-single{
    display: flex;
}

  .menu-list-item-link-single{
    text-decoration: none;
    color: white;
  }

.menu-list-item-single{
    list-style: none;
    margin-right: 30px;
}

.grid-item-link{
    text-decoration: none;
    color: black;
}

.footer{
    width: 1000px;
    margin-top: 60px;
}

/*Anime page*/

.category-container{
    display: flex;
    flex-direction: row;
}

.category{
    position: relative;
    margin-top: 80px;
    margin-left: 2%;
width: 100%;
height: fit-content;
}

.category-item{
    margin-top: 30px;
color: white;
width: 100%;
background-color: black;
padding: 20px;
border-radius: 10px;
}

.categoru-item-link{
    text-decoration: none;
    color: white;
}

.footer{
    
    position: relative;

}



@media screen and (max-width: 650px) {

    body{
        position: relative;
        min-height: 100vh;
    }

    .navbar{
        position: relative;
        width: 100%;
        height: fit-content;
        background-color: black;
        z-index: 2;
    }

    .navbar-container{
        background-color: black;
    }


    .logo-container{
        width: fit-content;
    }
    
    .logo{
        position: absolute;
        top: 10px;
        left: 40px;
    }

.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}


.hamburger{
    opacity: 100%;
    position: absolute;
font-size: 25px;
top: 10px;
right: 5px;
z-index: 2;

}


    .menu-list{
        display: none;
        flex-direction: column;
        justify-content: space-around;
        width: 100vh;
        align-content: center;
        position: relative;
        margin-top: 7%;
        margin-right: 33%;

        }

    .menu-list-item{
        padding: 10px 0;
        width: 100%;
        height: fit-content;
text-align: center;
position: relative;
margin: 10px 0;
transition: all 1s ease-in-out;
    }

    .menu-list-item:hover{
        background-color: #2D2727;
        cursor: pointer;
    }
    
.show{
    display: flex;
}

.search-icon{
    color: white;
font-size: 20px;
position: absolute;
top: 15px;
right: 60px;
}

.container{
    min-height: 200vh ;
     background-color: #2D2727;
     color: white;
 
 }

.content-container{
    position: relative;
    margin-left: 0%;
    
}

.fetured-movies-container{
    position: relative;
margin-top: 60px;   
min-width: 300px; 
    border-radius: 20px;
    text-align: center;
}

.featured-desc{
    width: fit-content;
}

.featured-img{
    width: 60%;
    border-radius: 20px;
}

.movie-img-button-feat{
    border-radius: 10px;
    padding: 10px 30px;
    background-color: rgb(26, 245, 26);
}

.movie-list-container{
position: relative;
margin-top: 60%;

}

.headings{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.movie-list-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

.movie-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-img{
    width: 250px;
    height: 300px;
    margin-top: 20px;
border-radius: 10px;
transition: none;
display: block;
position: relative;
margin-left: auto;
margin-right: auto;
}

.movie-list-item{
position: relative;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
justify-content: center;
justify-items: center;
text-align: center;

}

.movie-img-title{
    opacity:100%;
    position: relative;
    margin-left: 0%;
    margin-top: 10px;
}

.movie-img-button{
    opacity: 100%;
   border-radius: 10px;
   transition: none;
   position: relative;
   display: block;
   margin-left: 50px;
   margin-top: 5px;
    width: fit-content;
    padding: 10px 50px;
}



.movie-list-item:hover .movie-img-desc,
.movie-list-item:hover .movie-img-title,
.movie-list-item:hover .movie-img
 {
    opacity: 100%;
    transform:none;
}

.movie-img-desc{
    display: none;
}


.movie-img-title-rec{
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.recent-uploads{
    text-align: center;
}

.recomendations{
    text-align: center;
}

/*single movie page*/

.navbar-container-single{
    height: fit-content;
}

.container-single{
    position: relative;
    margin-top: 10%;
}

.search-icon-single{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 60px;
}

.menu-container-single{
    display: none;
}

.menu-list-single{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vh;
    align-content: center;
    position: relative;
    margin-top: 7%;
    margin-right: 33%;

    }

.menu-list-item-single{
    padding: 10px 0;
    width: 100%;
    height: fit-content;
text-align: center;
position: relative;
margin: 10px 0;
transition: all 1s ease-in-out;
}

.menu-list-item-single:hover{
    background-color: #2D2727;
    cursor: pointer;
}

.hamburger-single{
    opacity: 100%;
    position: absolute;
font-size: 25px;
top: 10px;
right: 5px;
z-index: 2;
}


.show-single{
    display: flex;
}

.img-single{
    width: 50%;
    border-radius: 7%;
}



.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
text-align: center;
    margin-top: 7%;
    gap: 10px;
    margin-right: 10%;
  }

  .grid-item{
    position: relative;
    margin-left: 0px;

  }

 

  /*category page*/


  .category-item{
    margin-top: 30px;
color: white;
width: 100%;
background-color: rgb(39, 38, 38);
padding: 20px;
border-radius: 10px;
}

  /*category popular page*/


.pages{
    display: flex;
    position: relative;
    height: 25px;
    background-color:  rgb(26, 245, 26);
    margin: 20px;
border-radius: 8px;
padding: 2px;

}




  
  
  
  
}
