*{
    margin: 0;
  
}

body{
    font-family: 'Albert Sans', sans-serif;
    background-color:#2D2727;
}

.navbar{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 2;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: white;
}

.logo-container{
    flex: 1;
}

.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: rgb(29, 252, 29);
}

.logo-link{
    color: rgb(29, 252, 29);
    text-decoration: none;
}

.crid{
    color: white;
}

.hamburger{
    opacity: 0;
}

.menu-container{
    position: relative;
    right: 0%;
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-item{
    margin-right: 30px;

}

.menu-list-item-link{
    color: white;
    text-decoration: none;
}

.menu-list-item.active{
    font-weight: bold;
}

.sidebar{
display: none;
}

.search-icon{
    color: white;
font-size: 20px;
position: relative;
top: 0%;
}
/*new design*/

.featured-and-ad-cont{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, green, #2D2727);
    gap: 300px;

}

.featured-cont{
    position: relative;

}


.featured-img{
    width: 29%;
    margin-left: 20px;
    border-radius: 10%;
    margin-top: 5%;
}

.featured-desc-cont{
    margin-left: 20px;
    width: 40%;    
}

.featured-desc{
    color: white;
    position: relative;
    margin-top: 4%;
    font-size: 0.9rem;

}

.featured-name-button{
    color: white;
    text-decoration: none;
    font-size: large;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    margin-top: 4%;
}

.featured-name-link{
    color: white;
    text-decoration: none;
}

.ad-cont{
    position: relative;
    border: solid 3px green ;
    width: 30%;
display: none;
margin-top: 40px;
text-align: center;
}

.ad-img{
    width: 47%;
}



.heading{
    color: rgb(29, 252, 29);
}

.must-watch-head{
    color:white;
}


.anime-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.anime-item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.anime-item{
margin: 2%;

}

.anime-item-img{
    width: 200px;
    border-radius: 5%;

}

.anime-item-name-link{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}



.g-search{
    position: relative;
    margin-top: 50px;
}

.new-episode-compile{
    display: grid;
   grid-template-columns:auto auto auto auto auto auto;
    gap: 20px;

}


.must-watch{
    display: grid;
    grid-template-columns:auto auto auto auto auto auto;
     gap: 20px;
}

.anime-item-name-link-episode{
    color: rgb(26, 245, 26);
    text-decoration: none;
    font-size: 0.9rem;
    font-family: 'Albert Sans', sans-serif;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Sen', sans-serif;
font-family: 'Urbanist', sans-serif;
font-family: 'Victor Mono', monospace;
   
}

.search-box-container{
    width: 100%;
   height: 100px;
   
    
}

.search-box{
    position: relative;
    margin-left: 43%;
    width: fit-content;
}


/*single movie page*/

.hamburger-single{
    opacity: 0;
}

.container-single{
    background-color:#2D2727;
    color: white;
    width: 100%;

}

.content-container-single{
    position: relative;
}

.img-single{
    width: 25%;
    position: relative;
    left: 5%;
    margin-top: 10%;
}

.status-container{
width: fit-content;
border: solid 1px;
border-radius: 10px;
padding: 4px;
color: rgb(26, 245, 26);
font-size: 10px;

}

.img-single-title{
    font-weight: bold;
    font-size: 20px;
}

.desc{
    width: 50%;
    position: relative;
    left: 5%;
    font-size: 0.9rem;
}

.name-color{
    color: rgb(26, 245, 26);
}

.download-button{
background-color: rgb(26, 245, 26);
padding: 10px;
border-radius: 20px;
border-style: none;
margin-top: 10px;
}

.seasons{
    display: flex;
    gap: 30px;
}

.seasons-list-item{
    list-style: none;
    font-size: 1rem;
    position: relative;
    top: 12px;
    left: 9px;
    margin-top: 10px;

}

.seasons-list-item-link{
    color: rgb(26, 245, 26);
    text-decoration: none;

}

.download-button-movie-single{
    background-color: rgb(26, 245, 26);
    padding: 20px 40px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 19px;
    font-weight: bolder;
    font-size: 1rem;
}

.download-button-movie-single-link{
    text-decoration: none;
    color: black;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 60px;
    gap: 10px;
    margin-top: 30px;
  }
  .grid-item {
    background-color: rgb(26, 245, 26);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding:0 40px;
    font-size: 30px;
    text-align: center;
    color: black;
    width: 30%;
    font-size: 20px;
  }

  .navbar-container-single{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: white
  }

.menu-list-single{
    display: flex;
}

  .menu-list-item-link-single{
    text-decoration: none;
    color: white;
  }

.menu-list-item-single{
    list-style: none;
    margin-right: 30px;
}

.grid-item-link{
    text-decoration: none;
    color: black;
}

.footer{
    width: 1000px;
    margin-top: 60px;
}

/*Anime page*/

.category-container{
    display: flex;
    flex-direction: row;
}

.category{
    position: relative;
    margin-top: 80px;
    margin-left: 2%;
width: 100%;
height: fit-content;
}

.category-item{
    margin-top: 30px;
color: white;
width: 100%;
background-color: black;
padding: 20px;
border-radius: 10px;
}

.categoru-item-link{
    text-decoration: none;
    color: white;
}

.footer{
    
    position: relative;

}

/*about us page*/

.navbar-about-us{
    background-color: black;
}

.about-us{
    position: relative;
    margin-top: 0px;
    color: white;
}

@media screen and (max-width: 600px) {

    body{
        text-align: center;
    }

    .navbar{
        position: relative;
        width: 100%;
        height: fit-content;
        background-color: black;
        z-index: 2;
    }

    .navbar-container{
        background-color: black;
    }


    .logo-container{
        width: fit-content;
    }
    
    .logo{
        position: absolute;
        top: 10px;
        left: 40px;
    }

.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}


.hamburger{
    opacity: 100%;
    position: absolute;
font-size: 25px;
top: 18px;
right: 5px;
z-index: 2;

}


    .menu-list{
        display: none;
        flex-direction: column;
        justify-content: space-around;
        width: 100vh;
        align-content: center;
        position: relative;
        margin-top: 7%;
        margin-right: 33%;

        }

    .menu-list-item{
        padding: 10px 0;
        width: 100%;
        height: fit-content;
text-align: center;
position: relative;
margin: 10px 0;
transition: all 1s ease-in-out;
    }

    .menu-list-item:hover{
        background-color: black;
        cursor: pointer;
    }
    
.show{
    display: flex;
}

.search-icon{
    color: white;
font-size: 20px;
position: absolute;
top: 15px;
right: 60px;
display: none;
}


/*new design*/

.featured-and-ad-cont{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, green, #2D2727);
    gap: 30px;
    position: relative;
    top: 40px;
    border-radius: 7%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.featured-cont{
    position: relative;
display: flex;
flex-direction: column;
text-align: center;

}


.featured-img{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    margin-top: 15%;
}

.featured-desc-cont{
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;  
}

.featured-desc{
    color: white;
    position: relative;

}

.ad-cont{
    position: relative;
    border: solid 3px green ;
    width: 80%;
    height: 300px;
display: none;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
text-align: center;
background-color: aqua;
}

.ad-img{
    width: 47%;
}

.featured-name-button{
    color: white;
    text-decoration: none;
    font-size: large;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
}

.featured-name-link{
    color: white;
    text-decoration: none;
}

.heading{
    color: white;
}
.anime-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.anime-item-container{
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
}

.new-episode-compile{
    display: grid;
   grid-template-columns:auto auto ;
    gap: 0px;

}

.anime-item{
margin-bottom: 10px;
margin-top: 10px;

}

.anime-item-img{
    width: 150px;
    height: 200px;
    border-radius: 5%;
    object-fit: cover;
   
}

.anime-item-name-link{
    color: white;
    text-decoration: none;
}

.anime-item-name-link h4{
    font-size: 0.7rem;
}



.must-watch{
    display: grid;
    grid-template-columns:auto auto auto;
     gap: 0px;
     padding: 10px;
}

.anime-item-name-link-episode{
    color: rgb(26, 245, 26);
    text-decoration: none;
    font-size: 0.9rem;
    font-family: 'Albert Sans', sans-serif;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Sen', sans-serif;
font-family: 'Urbanist', sans-serif;
font-family: 'Victor Mono', monospace;
   
}

    .search-box{
    position: relative;
    margin-left:84px;
    width: fit-content;
}

/*single movie page*/

.navbar-container-single{
    height: fit-content;
}

.container-single{
    position: relative;
    margin-top: 10%;
}

.search-icon-single{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 60px;
}

.menu-container-single{
    display: none;
}

.menu-list-single{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vh;
    align-content: center;
    position: relative;
    margin-top: 7%;
    margin-right: 33%;

    }

.menu-list-item-single{
    padding: 10px 0;
    width: 100%;
    height: fit-content;
text-align: center;
position: relative;
margin: 10px 0;
transition: all 1s ease-in-out;
}

.menu-list-item-single:hover{
    background-color: #2D2727;
    cursor: pointer;
}

.hamburger-single{
    opacity: 100%;
    position: absolute;
font-size: 25px;
top: 10px;
right: 5px;
z-index: 2;
}


.show-single{
    display: flex;
}

.content-container-single{
  
    text-align: left;
}

.img-single{
    width: 50%;
    border-radius: 7%;
    position: relative;
}

.synopsis{
    width: 310px;
}

    
.seasons{
    display: flex;
    gap: 30px;
    position: relative;
    left: 0px;
}

.seasons-list-item{
    list-style: none;
    font-size: 1rem;
    position: relative;
    top: 12px;
    left: 0px;
    margin-top: 10px;
    text-align: left;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
text-align: center;
    margin-top: 7%;
    gap: 6px;
    margin-right: 60px;

  }

  .grid-item{
    position: relative;
    margin-left: 0px;
width: fit-content;
padding:0px 25px;
  }

  
 

  /*category page*/


  .category-item{
    margin-top: 30px;
color: white;
width: 100%;
background-color: rgb(39, 38, 38);
padding: 20px;
border-radius: 10px;
}

  /*category popular page*/


.category{
    text-align: left;
}


.pages{
    display: flex;
    position: relative;
    height: 25px;
    background-color:  rgb(26, 245, 26);
    margin: 20px;
border-radius: 8px;
padding: 2px;

}

/*about us page*/

.navbar-about-us{
    background-color: black;
}

.about-us-hamburger{
    margin-top: 9px;
    }
    

.about-us{
    position: absolute;
    margin-top: 20px;
   border: solid 1px;
   margin-left: 5px;
   padding:10px 0px 0px 5px;
}



  
  
  
  
}
